// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root {
    --red: #DA291C;
    --yellow: #FFD700;
    --blue: #006DD7;
    --green: #00af4d;
    --white: #FFFFFF;
    --black: #000000;
    --maxwidth: 1200px;
    --rootsize: 20px;
}

body {
    background-color: $legoyellow;
    background-image: url("../images/mainbackground.png");
    font-family: 'Rubik', sans-serif;
    font-size: var(--rootsize);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

}

div.container {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    background-color: $white;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
        a {
        width: 100%;
        max-width: 250px;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
}

#cart {
    position: relative;
    width: 100%;
    max-width: 50px;
}

#cart .label {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    color: $white;
    background-color: $red;
    position: absolute;
    top: -1rem;
    left: -1rem;
    box-sizing: border-box;
    padding-top: 5px;
}

nav {
    width: 100%;
    background-color: $red;
    display: flex;
}

nav a {
    color: $white;
    text-decoration: none;
    padding: .5rem 1rem;
    border-bottom: 5px solid $red;
    display: inline-block;
    text-transform: uppercase;
    transition: ease-in-out .4s;

    &:hover {
        color: $legoyellow;
        border-color: $legoyellow;
    }
}
nav a:hover {
    color: $legoyellow;
    border-color: $legoyellow;
}
nav a.active {
    color: $black;
    border-color: $black;
    background-color: $legoyellow;
}

main {

    justify-content: space-around;

}

main h2 {
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

article.product-card {
    background-color: $black;
    border-bottom: 1rem solid $green;
    width: 31%;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
    color: $white;
    margin-bottom: 2rem;
}

article.product-card > * {
    display: block;
    clear: both;
}

article.product-card img {
    width: 100%;
}

article.product-card a {
    color: $legoyellow;
    padding: .5rem 0;
    text-decoration: none;
}

article.product-card h3 {
    margin: .2rem 0 .5rem 0;
    text-transform: uppercase;
}

article.product-card button {
    background-color: $green;
    color: $white;
    font-family: 'Rubik', sans-serif;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;

}

#cartview {
    width: 100%;
    max-width: 500px;
    background-color: $black;
    color: $white;
    position: absolute;
    right: 0;
    top: 70px;
    border-left: .5rem solid $green;
    border-bottom: .5rem solid $green;
    padding: 1rem;
    transition: ease-in-out .15s;
}

#cartview ul {
    list-style-type: none;
    padding: 0;
}

#cartview ul li {
    border-bottom: 1px solid $green;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    display: block;
    clear: both;

}

#cartview ul li > * {
    box-sizing: border-box;
    display: inline-block;
}

span.title {
    width: calc(100% - 9rem);
}

span.price, span.quantity {
    width: 3rem;

}
span.storage

button.delete {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $red;
    color: $white;
    border: none;
}

article.product-card button.disabled {
    background-color: grey;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}